
GreenvurcelManagementSystem/.vs/

GreenvurcelManagementSystem/GreenvurcelUI/bin/

GreenvurcelManagementSystem/GreenvurcelUI/obj/

GreenvurcelManagementSystem/GreenvurcelDAL/bin/

GreenvurcelManagementSystem/GreenvurcelDAL/obj/

GreenvurcelManagementSystem/Tests/bin/

GreenvurcelManagementSystem/Tests/obj/

GreenvurcelManagementSystem/GreenvurcelUI/GreenvurcelUI.csproj.user
